<!--cars/templates/services/choose_car_for_service.html-->

{% extends 'base_cars.html' %}

{% block content_cars_2 %}

<a href="{% url 'cars:get_user_cars' %}">Show my cars</a>

<h2>User's cars to choose</h2>


{% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}

{% if request.session.error_message %}
    <p class="error"><strong>{{ request.session.error_message }}</strong></p>
{% endif %}


{% if user_cars %}
<form method="POST">
    {% csrf_token %}
    
    {% for car in user_cars %}
        <input type="radio" name="car_id" id="{{ car.id }}" value="{{ car.id }}">
        <label for="car.id">{{ car.id }} {{ car.brand }} {{ car.model }} {{ car.year }}</label><br>
    {% endfor %}
    <input type="submit" value="Submit"> 
</form>
{% else %}
    <p class="error">You have no cars.</p>
{% endif %}

{% endblock %}