{% extends 'base_cars.html' %}


{% block content_cars_2 %}

<p><a href="{% url 'cars:get_user_cars' %}">Show my cars</a>

<p><a href="{% url 'cars:add_service' car.id %}">Add new service</a></p>

<h2>{{ car.brand }} {{ car.model }} services</h2>


{% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}

{% if request.session.error_message %}
    <p class="error"><strong>{{ request.session.error_message }}</strong></p>
{% endif %}

{% if car_services %}
<table>
    <tr>
        <th>Place</th>
        <th>Repair</th>
        <th>Cost</th>
        <th>Date</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
    </tr>    
        {% for service in car_services %}
            <tr>
                <td>{{ service.place }}</td>
                <td style="white-space:pre-wrap; word-wrap:break-word">{{ service.repair }}</td>
                <td>{{ service.cost }}</td>
                <td>{{ service.date }}</td>
                <td> <a href="{% url 'cars:edit_service' service.id %}">Edit service</a> </td>
                <td> <a href="{% url 'cars:move_service' service.id %}">Move service</a> </td>
                <td> <a href="{% url 'cars:delete_service' service.id %}">Delete service</a> </td>
            </tr>
        {% endfor %}    
</table>
{% else %}
    <p class="error">You have no services.</p>
{% endif %}

{% endblock %}