<!--users/templates/users/register.html-->

{% extends 'base_cars.html' %}


{% block content_cars_2 %}

<a href="{% url 'cars:get_user_cars' %}">Show my cars</a>

<h2>Add new car</h2>


{% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
    {% csrf_token %}
    <label>Brand</label>
    <input type="text" name="car_brand" id="car_brand" value="{{ car_brand }}"><br>
    <label>Model</label>
    <input type="text" name="car_model" id="car_model" value="{{ car_model }}"><br>
    <label>Year of production</label>
    <input type="number" name="car_year" id="car_year" value="{{ car_year }}"><br>
    <label>Vin</label>
    <input type="text" name="car_vin" id="car_vin" value="{{ car_vin }}"><br>
    <input type="submit" value="Save">
</form>

{% endblock %}