{% extends 'base_cars.html' %}


{% block content_cars_2 %}


<a href="{% url 'cars:add_car' %}">Add new car</a>


<h2>User's cars</h2>


{% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}

{% if request.session.error_message %}
    <p class="error"><strong>{{ request.session.error_message }}</strong></p>
{% endif %}

{% if user_cars %}
<table>
    <tr>
        <th>Id</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Year</th>
        <th>Action</th>
        <th>Action</th>
        <th>Action</th>
    </tr>    
        {% for car in user_cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.brand }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td> <a href="{% url 'cars:edit_car' car.id %}">Edit car</a> </td>
                <td> <a href="{% url 'cars:get_car_services' car.id %}">Car's services</a> </td>
                <td> <a href="{% url 'cars:get_car_vin_details' car.id %}">Car's vin details</a> </td>
                <td> <a href="{% url 'cars:delete_car' car.id %}">Delete car</a> </td>
            </tr>
        {% endfor %}    
</table>
{% else %}
    <p class="error">You have no cars.</p>
{% endif %}

{% endblock %}